/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*============= BEGIN CSS STYLING ==================*/

body{
  font-family: 'Myriad Pro', sans-serif;
  background-color: black;
	max-width: 1920px;
	min-width: 320px;
	margin: auto;
}

a{
  text-decoration: none;
}

/*=================== HEADER ===================*/

header{
  margin: auto;
	width: 100%;
	height: 5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  background-color: white;
}

header ul{
	display: flex;
	align-items: center;
}

#logo{
	width: 70px;
	height: 34.5px;
	padding-right: 1em;
}

.primary-nav{
  display: flex;
	justify-content: flex-start;
  text-transform: uppercase;
	font-size: 1.1em;
	padding-left: 2em;
}

.secondary-nav{
	display: flex;
	justify-content: flex-end;
	padding-right: 3em;
	font-size: 1.1em;
}

nav li{
	padding: 0 .6em;
  font-weight: 600;
}

.primary-nav a {
	color: #FF4F22;
}

.secondary-nav a{
	color: #F3ACCC;
}

/*================== HERO ===================*/

.hero-top-border{
	max-width: 1500px;
	height: 15px;
	margin: auto;
	background: linear-gradient(90deg, #DF1C74, #FF4F22);
  filter: saturate(90%);
}

.top-border {
	 max-width: 100%;
	 height: 15px;
	 margin: auto;
	 background: linear-gradient(90deg, #DF1C74, #FF4F22);
		filter: saturate(90%);
}

.hero{
  background-color: #C74122;
  background: linear-gradient(90deg, #DF1C74, #FF4F22);
  max-width: 100%;
  min-height: 600px;
  margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 13%;
}



.hero-image{
	max-width: 750px;
	display: flex;
	flex-direction: column;
  text-transform: uppercase;
	margin-right: 2%;
}

.hero-image img{
	max-width: 100%;
}

.hero-image span{
	margin-bottom: 40px;
	color: white;
	cursor: pointer;
}

.hero-image span:hover{
	text-decoration: underline;
	pointer-events: painted;
}

.hero-content{
	padding-top: 50px;
	max-width: 550px;
	max-height: 450px;
	color: white;
}

.hero-content h1{
  font-size: 3.5rem;
}

.hero-content h2{
  color: black;
	padding-top: 13px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 1.1em;
}

.hero-content p{
  line-height: 40px;
	padding: 18px 0;
	border-top: dashed black 2px;
	border-bottom: dashed black 2px;
	font-size: 1.1em;
}

.hero-content a{
  display: inline;
  float: right;
  color: black;
	text-decoration: underline;
  }

.hero-content h3{
  color: white;
  margin-top: 25px;
  font-size: 2.5rem;
	display: inline-block;
}

sup{
    vertical-align: super;
    font-size: .5em;
}

#buy-now{
  margin-left: 38px;
  color: #DF1C74;
  padding: 20px 37px;
  background-color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 10px;
  border: white;
}

#buy-now:hover{
	cursor: pointer;
	color: #fff;
	background-color: #DF1C74;
}

/*============= MIDDLE CONTENT ===========*/


.middle{
  background-color: white;
	max-width: 100%;
  min-height: 900px;
  margin: auto;
	padding: 0 13%;
	display: flex;
	flex-direction: column;
}

.tirtiary-nav{
  background-color: white;
  max-width: 100%;
  border-bottom: 1px solid pink;
	padding-top: 50px;
	padding-bottom: 8px;
}

.tirtiary-nav ul{
	margin: 0 -11px;
}

.tirtiary-nav li{
	display: inline-block;
	font-size: 1.25em;
}

.last{
	float: right;
}

.tirtiary-nav a{
  color: #FF4F22;
  font-weight: 700;
}

.details{
  background-color: white;
  max-width: 100%;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	font-size: 1.8em;
	line-height: 60px;
}

.details p{
	font-size: .7em;
	color: grey;
	line-height: 40px;
}

.details h3{
	padding-top: 60px;
}
.details h4{
	padding-top: 60px;
}

/*=========== BOTTOM ===========*/

.shop{
  background-color: #FFEEFB;
  height: 80px;
  max-width: 100%;
  margin: auto;
	display: flex;
  align-items: center;
	justify-content: center;
  font-size: 1.8rem;
	text-transform: bold;
	font-weight: 500;
}

.footer-shoes{
  max-width: 100%;
  background-color: #C74122;
  background: linear-gradient(90deg, #DF1C74, #FF4F22);
  min-height: 500px;
  margin: auto;
  color: white;
  font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	padding: 0 13%;
}

.footer-shoes div{
	max-width: 380px;
	font-size: 1.5em;
}

.nimble{
	padding: 0 5%;
}

.footer-shoes h1{
	padding-top: 19px;
	display: inline-block;
}

.footer-shoes p{
	padding-top: 19px;
	display: inline-block;
	float: right;
}

.footer-shoes span{
	font-size: .5em;
	color: #000;
}
.footer-shoes img{
	max-width: 100%;
}

/*=========== FOOTER ===========*/

footer{
  margin: auto;
	width: 100%;
	height: 5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  background-color: white;
}

footer ul{
	display: flex;
	align-items: center;
}

footer img{
	width: 70px;
	height: 34.5px;
	padding-right: 1em;
}

.footer-nav{
  display: flex;
	justify-content: flex-start;
  text-transform: uppercase;
	font-size: 1.1em;
	padding-left: 2em;
}

.footer2-nav{
	display: flex;
	justify-content: flex-end;
	padding-right: 3em;
	font-size: 1.1em;
}

.footer-nav li{
	padding: 0 .6em;
  font-weight: 600;
}

.footer-nav a {
	color: #FF4F22;
}

.footer2-nav a{
	color: black;
	text-decoration: underline;
}

.footer2-nav{
  float: right;
  display: inline-block;
  padding-right: 40px;
	margin-top: 9px;
}

.footer2-nav li{
	font-size: .9em;
  display: inline-block;
}


a:hover{
  color: #CC2400;
  border-bottom-color: pink;
  border-bottom-style: solid;
  border-width: 3.5px;
  padding-bottom: 3.5px;
}

/*span:hover{
	color: white;
}*/

/*===========Item Added Button========*/
.modalWrapper{
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	width: 300px;
	background: #fff;
	color: #CC2400;
	border: solid 1.5px black;
	border-radius: 20px;
	position: absolute;
	left: 45%;
	z-index: 1;
	font-size: 2em;
}

#ok{
	height: 70px;
	width: 150px;
	font-size: 1em;
	color: #fff;
	background-color: #CC2400;
	border-radius: 14px;
}

#ok:hover{
	color: #fff;
	background-color: #DF1C74;
	cursor: pointer;
}

.visible{
	visibility: visible;
}
